/build-tagger_tool-Desktop_Qt_5_12_4_GCC_64bit-Debug/
/build-SimpleQtBBox-Desktop_Qt_5_12_4_GCC_64bit-Debug/
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/.cmake/api/v1/query/cache-v2
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/.cmake/api/v1/query/cmakeFiles-v1
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/.cmake/api/v1/query/codemodel-v2
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/.cmake/api/v1/reply/cache-v2-f4b11222a61eb0c71a11.json
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/.cmake/api/v1/reply/cmakeFiles-v1-55766e15e537020b5201.json
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/.cmake/api/v1/reply/codemodel-v2-0f1580f768826d029b5d.json
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/.cmake/api/v1/reply/index-2020-07-01T22-38-49-0990.json
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/.cmake/api/v1/reply/target-SimpleQtBBox.exe-Debug-1eb10dcc742982db86e2.json
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/.cmake/api/v1/reply/target-SimpleQtBBox.exe_autogen-Debug-e7a654aac9c4e8dedfb1.json
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeCache.txt
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/3.16.3/CMakeSystem.cmake
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/3.16.3/CompilerIdCXX/a.out
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/CMakeDirectoryInformation.cmake
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/CMakeOutput.log
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/CMakeRuleHashes.txt
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/Makefile.cmake
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/Makefile2
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/CXX.includecache
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/DependInfo.cmake
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/SimpleQtBBox.exe_autogen/mocs_compilation.cpp.o
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/annimgmanager.cpp.o
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/annotationfilter.cpp.o
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/bboxitem.cpp.o
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/build.make
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/cmake_clean.cmake
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/depend.internal
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/depend.make
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/expensiveroutines.cpp.o
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/flags.make
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/imagecanvas.cpp.o
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/imagecanvascommands.cpp.o
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/imgstringlistmodel.cpp.o
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/link.txt
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/main.cpp.o
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/mainwindow.cpp.o
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/progress.make
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/qrc_resources.cpp.o
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe.dir/utils.cpp.o
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe_autogen.dir/AutogenInfo.json
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe_autogen.dir/AutogenUsed.txt
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe_autogen.dir/DependInfo.cmake
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe_autogen.dir/ParseCache.txt
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe_autogen.dir/build.make
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe_autogen.dir/cmake_clean.cmake
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe_autogen.dir/depend.internal
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe_autogen.dir/depend.make
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/SimpleQtBBox.exe_autogen.dir/progress.make
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/TargetDirectories.txt
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/cmake.check_cache
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/CMakeFiles/progress.marks
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/Makefile
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/SimpleQtBBox.exe
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/SimpleQtBBox.exe.cbp
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/SimpleQtBBox.exe_autogen/EWIEGA46WW/moc_expensiveroutines.cpp
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/SimpleQtBBox.exe_autogen/EWIEGA46WW/moc_imagecanvas.cpp
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/SimpleQtBBox.exe_autogen/EWIEGA46WW/moc_imgstringlistmodel.cpp
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/SimpleQtBBox.exe_autogen/EWIEGA46WW/moc_mainwindow.cpp
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/SimpleQtBBox.exe_autogen/include/ui_mainwindow.h
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/SimpleQtBBox.exe_autogen/moc_predefs.h
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/SimpleQtBBox.exe_autogen/mocs_compilation.cpp
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/cmake_install.cmake
/build-src-Desktop_Qt_5_12_8_GCC_64bit-Debug/qtcsettings.cmake
/build_debug/.cmake/api/v1/query/cache-v2
/build_debug/.cmake/api/v1/query/cmakeFiles-v1
/build_debug/.cmake/api/v1/query/codemodel-v2
/build_debug/.cmake/api/v1/reply/cache-v2-6dd0f5c1d375aab141b6.json
/build_debug/.cmake/api/v1/reply/cmakeFiles-v1-867ab8be6ae28086577d.json
/build_debug/.cmake/api/v1/reply/codemodel-v2-c82cef23da0053c79de0.json
/build_debug/.cmake/api/v1/reply/index-2020-07-01T22-33-17-0467.json
/build_debug/.cmake/api/v1/reply/target-SimpleQtBBox.exe-Debug-f475585285b4ca76d8da.json
/build_debug/.cmake/api/v1/reply/target-SimpleQtBBox.exe_autogen-Debug-8d2780d744993377ca5e.json
/src/CMakeLists.txt.user
/app_bin/*
/build/*
/debug/*
